body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

th{
  text-align: left;
  vertical-align:baseline;
  background-color: rgb(43, 226, 217);
  padding: 5px 20px;

};
.show-page-part2 {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}