body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

th {
  background-color: blue;
  color:white;
}
tr:nth-child(even){
  background-color:rgb(199, 192, 191);
}
th,td{
border-bottom: 1px solid gold;
padding:8px;
text-align: left;

};


.choose {
  background-color:rgb(57, 187, 31);
  padding:5px;
  height: 20px;
}

.show-page-part2 {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}